<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
   
  <% if (posts.length > 0) { %>
    <% posts.forEach(pst => { %>

      <h5 class="title"><%= pst.title %>   <%=pst.created_at%> </h5>
      <p class="snippet"><%= pst.body %></p>
      <form action="/comment/<%= pst._id %>" method="post">
        <input type="text" id="com" name="body" required >
        <button>Add comment</button>
      </form>
      <div>
        <% if (pst.comment.length > 0) { %>
          <% pst.comment.forEach(com => { %>
            <h5 class="title"><%= com.body %> </h5>
            <% }) %>
            <% } %>
      </div>
      <% }) %>
      <% } %>
   

  
</body>
</html>